<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zcy.blog.dao.BlogCommentMapper">
	<resultMap id="BaseResultMap" type="com.zcy.blog.model.BlogComment">
		<id column="COMMENT_ID" property="commentId" jdbcType="DECIMAL" />
		<result column="PARENT_ID" property="parentId" jdbcType="DECIMAL" />
		<result column="THREAD" property="thread" jdbcType="VARCHAR" />
		<result column="COMMENT_DATE" property="commentDate" jdbcType="TIMESTAMP" />
		<result column="USER_ID" property="userId" jdbcType="DECIMAL" />
		<result column="BLOG_ID" property="blogId" jdbcType="DECIMAL" />
		<result column="DEPTH" property="depth" jdbcType="DECIMAL" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.zcy.blog.model.BlogComment"
		extends="BaseResultMap">
		<result column="COMMENT_CONTENT" property="commentContent"
			jdbcType="CLOB" />
		<!-- 博客与评论之间一对多关联 在评论表中加入博客 -->
		<!-- property: 指的是属性的值, javaType：指的是元素的类型 -->
		<association property="blog" javaType="com.zcy.blog.model.Blog">
			<id column="BLOG_ID" property="blogId" jdbcType="DECIMAL" />
			<result column="BLOG_TITLE" property="blogTitle" jdbcType="VARCHAR" />
			<result column="PUBLISH_DATE" property="publishDate" jdbcType="TIMESTAMP" />
			<result column="READ_COUNTS" property="readCounts" jdbcType="DECIMAL" />
			<result column="COMMENT_COUNTS" property="commentCounts"
				jdbcType="DECIMAL" />
			<result column="B_USER_ID" property="userId" jdbcType="DECIMAL" />
		</association>
		<association property="blogUser" javaType="com.zcy.blog.model.BlogUser">
			<id column="USER_ID" property="userId" jdbcType="DECIMAL" />
			<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
			<result column="EMAIL" property="email" jdbcType="VARCHAR" />
			<result column="PASSWORD" property="password" jdbcType="VARCHAR" />
			<result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" />
			<result column="GENDER" property="gender" jdbcType="CHAR" />
			<result column="BIRTHDAY" property="birthday" jdbcType="TIMESTAMP" />
			<result column="QQ" property="qq" jdbcType="VARCHAR" />
			<result column="HEAD_PATH" property="headPath" jdbcType="VARCHAR" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		COMMENT_ID, PARENT_ID, THREAD, COMMENT_DATE, USER_ID,
		BLOG_ID,DEPTH
	</sql>
	<sql id="Blob_Column_List">
		COMMENT_CONTENT
	</sql>

	<!-- 根据用户id查找对应评论的博客详情 -->
	<select id="getCommentInfoByUserId" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select * from blog b,blog_comment bc
		where b.blog_id = bc.blog_id
		and b.user_id = #{userId,jdbcType=DECIMAL}
	</select>

	<!-- 根据博客id查找对应评论的博客详情 -->
	<select id="getCommentInfoByBlogId" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select * from blog_comment left outer join blog_user on
		blog_comment.user_id = blog_user.user_id 
		where blog_id = #{blogId,jdbcType=DECIMAL} order by blog_comment.comment_date desc
	</select>


	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from BLOG_COMMENT
		where COMMENT_ID = #{commentId,jdbcType=DECIMAL}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		BLOG_COMMENT
		where COMMENT_ID = #{commentId,jdbcType=DECIMAL}
	</delete>
	<insert id="insert" parameterType="com.zcy.blog.model.BlogComment">
		insert into BLOG_COMMENT
		(COMMENT_ID, PARENT_ID, THREAD,
		COMMENT_DATE, USER_ID, BLOG_ID,DEPTH,
		COMMENT_CONTENT)
		values (#{commentId,jdbcType=DECIMAL},
		#{parentId,jdbcType=DECIMAL},
		#{thread,jdbcType=VARCHAR},
		#{commentDate,jdbcType=TIMESTAMP}, #{userId,jdbcType=DECIMAL},
		#{blogId,jdbcType=DECIMAL},
		#{depth,jdbcType=DECIMAL},
		#{commentContent,jdbcType=CLOB})
	</insert>
	<insert id="insertSelective" parameterType="com.zcy.blog.model.BlogComment">
		<selectKey resultType="java.lang.Integer" order="BEFORE"
			keyProperty="commentId">
			select seq_comment_id.nextval from dual
		</selectKey>

		insert into BLOG_COMMENT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="commentId != null">
				COMMENT_ID,
			</if>
			<if test="parentId != null">
				PARENT_ID,
			</if>
			<if test="thread != null">
				THREAD,
			</if>
			<if test="commentDate != null">
				COMMENT_DATE,
			</if>
			<if test="userId != null">
				USER_ID,
			</if>
			<if test="blogId != null">
				BLOG_ID,
			</if>
			<if test="depth != null">
				DEPTH,
			</if>
			<if test="commentContent != null">
				COMMENT_CONTENT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="commentId != null">
				#{commentId,jdbcType=DECIMAL},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=DECIMAL},
			</if>
			<if test="thread != null">
				#{thread,jdbcType=VARCHAR},
			</if>
			<if test="commentDate != null">
				#{commentDate,jdbcType=TIMESTAMP},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=DECIMAL},
			</if>
			<if test="blogId != null">
				#{blogId,jdbcType=DECIMAL},
			</if>
			<if test="depth != null">
				#{depth,jdbcType=DECIMAL},
			</if>
			<if test="commentContent != null">
				#{commentContent,jdbcType=CLOB},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.zcy.blog.model.BlogComment">
		update BLOG_COMMENT
		<set>
			<if test="parentId != null">
				PARENT_ID = #{parentId,jdbcType=DECIMAL},
			</if>
			<if test="thread != null">
				THREAD = #{thread,jdbcType=VARCHAR},
			</if>
			<if test="commentDate != null">
				COMMENT_DATE = #{commentDate,jdbcType=TIMESTAMP},
			</if>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=DECIMAL},
			</if>
			<if test="blogId != null">
				BLOG_ID = #{blogId,jdbcType=DECIMAL},
			</if>
			<if test="depth != null">
				DEPTH = #{depth,jdbcType=DECIMAL},
			</if>
			<if test="commentContent != null">
				COMMENT_CONTENT = #{commentContent,jdbcType=CLOB},
			</if>
		</set>
		where COMMENT_ID = #{commentId,jdbcType=DECIMAL}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zcy.blog.model.BlogComment">
		update
		BLOG_COMMENT
		set PARENT_ID = #{parentId,jdbcType=DECIMAL},
		THREAD =
		#{thread,jdbcType=VARCHAR},
		COMMENT_DATE =
		#{commentDate,jdbcType=TIMESTAMP},
		USER_ID =
		#{userId,jdbcType=DECIMAL},
		BLOG_ID = #{blogId,jdbcType=DECIMAL},
		DEPTH
		= #{depth,jdbcType=DECIMAL},
		COMMENT_CONTENT =
		#{commentContent,jdbcType=CLOB}
		where COMMENT_ID =
		#{commentId,jdbcType=DECIMAL}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zcy.blog.model.BlogComment">
		update
		BLOG_COMMENT
		set PARENT_ID = #{parentId,jdbcType=DECIMAL},
		THREAD =
		#{thread,jdbcType=VARCHAR},
		COMMENT_DATE =
		#{commentDate,jdbcType=TIMESTAMP},
		USER_ID =
		#{userId,jdbcType=DECIMAL},
		BLOG_ID = #{blogId,jdbcType=DECIMAL},
		DEPTH
		= #{depth,jdbcType=DECIMAL}
		where
		COMMENT_ID =
		#{commentId,jdbcType=DECIMAL}
	</update>
</mapper>